.header {
  width: 100%;
  padding: 15px 0;
  background: var(--dark-gray-2);
  background-image: radial-gradient(transparent 1px, rgba(0, 0, 0, 0.2) 0);
  background-size: 4px 4px;
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header a {
  display: block;
  align-self: flex-start;
}

.header img {
  display: block;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .header-top {
    flex-direction: column;
  }

  .header a {
    align-self: unset;
  }
}
