:root {
  --red: #f0283c;
  --black: #000;
  --white: #fff;
  --black-secondary: #121212;
  --dark-gray: #060606;
  --dark-gray-2: rgba(36, 36, 36, 0.8);
  --gray: #484848;
  --light-gray: #ccc;
  --yellow: #f4c518;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--dark-gray);
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  width: 94%;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  outline: none;
}

.no-result { 
  margin-top: 40px;
  color: var(--white); 
  text-align: center;
  font-size: 30px;
}


@media only screen and (max-width: 480px) {
  .no-result { 
    font-size: 20px;
  }
}
