.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
  border: 5px solid var(--light-gray);
  border-top-color: var(--red);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
