
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.year-heading {
  font-size: 60px;
  margin: 20px 0;
  color: var(--white);
}

.movie-list-container > li {
  border-radius: 15px;
  flex-basis: calc(33.33% - 10px);
  overflow: hidden;
  align-self: stretch;
  background-color: #f1f1f124;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.movie-list-container > li img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}

.movie-list-container > li h3 { margin-bottom: 10px; }

.movie-list-container > li p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--light-gray);
}

.movie-list-container .release-date-label {
  font-weight: 700;
  font-size: 14px;
}

.movie-list-container .release-date {
  font-size: 12px;
}

.movie-info { padding: 20px 15px 25px; }

.vote-details {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 5px 8px;
  border-radius: 999999px;
  background: var(--white);
  color: var(--black);
}

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rating svg {
  display: block;
  stroke: var(--yellow);
  stroke-width: 1px;
  fill: var(--yellow);
}

.rating span { font-size: 12px; }

.genre-type {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.genre-type li {
  padding: 5px 8px;
  border: 1px solid var(--light-gray);
  border-radius: 999999px;
  color: var(--white);
  font-size: 12px;
}

.movie-poster { position: relative; }

@media only screen and (max-width: 995px) {
  .movie-list-container > li { flex-basis: calc(50% - 10px); }
  .movie-list-container > li img { max-height: 300px; }
  .year-heading { font-size: 40px; }
}

@media only screen and (max-width: 640px) {
  .movie-list-container > li img { max-height: 200px; }

  .movie-list-container > li h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .genre-type { margin-top: 10px; }
  .year-heading { font-size: 30px; }
}

@media only screen and (max-width: 480px) {
  .movie-list-container > li { flex-basis: 100%; }
}